/* Welcome page headings */
#welcome-heading{
    margin: 4rem 0;
}

#welcome-heading *{
    text-align: center;
    margin: 0.5rem;
}

#welcome-heading h1 {
    font-size: 4rem;
}

#welcome-heading h2 {
    font-size: 1.25rem;
    color: #383838;
}

#welcome-heading p {
    font-size: 1.15rem;
    color: blue;
    cursor: pointer;
}

/* slider css */
.slider-container {
	padding: 2rem;
    margin-bottom: 3rem;
}

.slider-wrapper {
	position: relative;
	max-width: 70rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 21 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider img,
.slider canvas {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
    overflow: hidden;
    filter: brightness(50%);
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav span {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav span:hover {
    cursor: pointer;
	opacity: 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 3rem;
    z-index: 1;
}

/* Card */
#select-title {
    font-size: 2rem;
    color: #001730;
    margin-top: 2.5rem;
}

#day-select {
    padding: 0.5rem;
    font-size: 1rem;
    width: 25vw;
    border: 2px solid #001730;
    border-radius: 5px;
}

#card-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 4rem;
    overflow-x: hidden;
    padding-bottom: 4rem;
}

.card {
    background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,1);
    transition: 0.3s;
    max-width: 80%;
    border-radius: 5px;
    padding: 2rem;
}
  
.card:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,1);
}
  
.card img {
    max-width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
}
  
.card-info {
    margin-top: 2rem;
    color: white;
}

.card-info h3{
    font-size: 1.25rem;
}

/* Chart Slider */

.slider canvas {
    filter: brightness(100%);
}

.no-ratio {
    aspect-ratio: unset;
    margin-bottom: 3rem;
}

.charts-wrapper {
    max-width: 50rem;
}

.charts-wrapper span {
	background-color: #222;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

/* Form */
#form-container,
#generated-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    flex-direction: column;
}

#form-card {
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.8);
    max-width: 30rem;
}

.form-button {
    padding: 0.8rem;
    border: none;
    border-radius: 3px;
    background: linear-gradient(132deg, rgb(2, 28, 122) 0.00%, rgb(36, 83, 255) 100.00%);
    color: white;
    margin: 0.8rem;
}

.form-button:hover {
    cursor: pointer;
    background: linear-gradient(132deg, rgb(36, 83, 255) 100.00%, rgb(2, 28, 122) 0.00%);
}

#show {
    width: 17.5vw;
}

.input-wrapper {
    margin: 0.75rem 0;
}

.input-wrapper h3{
    color: #001730;
    margin-bottom: 0.2rem;
}

.input-wrapper input {
    padding: 0.3rem 0.25rem;
    border-radius: 3px;
    border: none;
}

.input-wrapper input:focus {
    outline: 2px solid #001730;
}

#generated-info-container canvas {
    width: 40vw;
}

#generated-info-container > div {
    margin: 2rem 0;
    display: none;
}

table {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border-collapse: separate;
}

table * {
    padding: 0.5rem;
}

table th {
    color: white;
    background-color: #24262b;
    font-size: 1.5rem;
}

table tr {
    border-radius: 3px;
    color: white;
}

tr:nth-child(even) {
    background-color: #00246B;
}

tr:nth-child(odd) {
    background-color: #CADCFC;
    color: #001730;
}

@media only screen and (max-width: 650px) {
    
    #welcome-heading h1 {
        font-size: 3rem;
    }

    #welcome-heading h2 {
        font-size: 1.15rem;
    }

    #welcome-heading p {
        font-size: 1.05rem;
    }

    .slider {
        aspect-ratio: 9 / 12;
    }

    /* Card */
    #day-select {
        width: 75vw;
    }

    #card-container {
        grid-template-columns: 1fr;
    }

    .card-info h3 {
        font-size: 1.5rem;
    }

    /* Chart card */
    .no-ratio {
        aspect-ratio: unset;
    }

    /* Form */
    #form-card {
        padding: 0.75rem;
    }

    #show {
        width: 75vw;
    }

    /* Created Chart */
    #generated-info-container canvas {
        width: 80vw;
    }

    table {
        width: 80vw;
    }
}