@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/digital-wellbeing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    color: white;
}

.head-container h1 {
    font-size: 4rem;
    margin-top: 11rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.head-container h2 {
    font-size: 1.25rem;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 1.25rem;
}

input[type="checkbox"] {
    display: none;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu {
    align-self: flex-end;
}

#hamburger-menu {
    display: none;
}

.menu>div {
    float: right;
    right: 1rem;
    margin-top: 1rem;
    position: relative;
}

.menu>div::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 3px;
    margin-top: 15px;
    border-radius: 1px;
    transition: linear 0.2s;
}

.menu>div:hover::after {
    width: 65%;
    background-color: rgb(0, 190, 193);
}

/* Footer */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style: none;
    width: 33%;
}

footer {
    background-color: #24262b;
    padding: 70px 0;
    bottom: 0;
}

.footer-col {
    width: 30%;
    display: flex;
    justify-content: center;
}

.footer-col h3 {
    font-size: 1.25rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #4a5fc1;
    ;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
}

/* Welcome page headings */
#welcome-heading{
    margin: 4rem 0;
}

#welcome-heading *{
    text-align: center;
    margin: 0.5rem;
}

#welcome-heading h1 {
    font-size: 4rem;
}

#welcome-heading h2 {
    font-size: 1.25rem;
    color: #383838;
}

#welcome-heading p {
    font-size: 1.15rem;
    color: blue;
    cursor: pointer;
}

/* slider css */
.slider-container {
	padding: 2rem;
    margin-bottom: 3rem;
}

.slider-wrapper {
	position: relative;
	max-width: 70rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 21 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
    overflow: hidden;
    filter: brightness(50%);
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav span {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav span:hover {
    cursor: pointer;
	opacity: 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 3rem;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 15px;
    }

    header {
        height: 90vh;
    }

    .head-container h1 {
        font-size: 3rem;
    }

    .menu {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        background-color: #001730;
        height: 100vh;
        width: 60vw;
        position: fixed;
        top: 0px;
        left: -33%;
        z-index: 2;
    }

    .head-container>#hamburger-menu {
        align-self: flex-start;
    }

    #hamburger-menu {
        display: initial;
        padding: 1.6rem 1.25rem;
        position: relative;
    }

    #hamburger-menu>div {
        position: relative;
        background-color: white;
        width: 30px;
        height: 5px;
        border-radius: 2px;
    }

    #hamburger-menu:hover {
        background-color: initial;
    }

    #hamburger-menu>div::before, #hamburger-menu>div::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 2px;
        background-color: white;
    }

    #hamburger-menu>div::before {
        top: -10px;
    }

    #hamburger-menu>div::after {
        top: 10px;
    }

    input[type="checkbox"]~.menu {
        animation: menu-disappearing 0.5s ease both;
    }

    input[type="checkbox"]:checked~.menu {
        animation: menu-appearing 0.5s ease both;
    }

    @keyframes menu-appearing {
        75% {
            left: 0;
            width: 80vw;
        }
        100% {
            left: 0;
        }
    }

    @keyframes menu-disappearing {
        0% {
            left: 0;
        }
        75% {
            left: 0;
            width: 80vw;
        }
        100% {
            left: -60%;
        }
    }

    .menu>div {
        display: block;
        background-color: inherit;
        right: 0;
        margin-top: 0;
        padding: 1.05rem 0;
    }

    .menu>div:hover::after {
        display: none;
    }

    .menu>div>a {
        font-size: 1.15rem;
    }
    
    .footer-col{
        width: 100%;
    }

    #welcome-heading h1 {
        font-size: 3rem;
    }

    #welcome-heading h2 {
        font-size: 1.15rem;
    }

    #welcome-heading p {
        font-size: 1.05rem;
    }

    .slider {
        aspect-ratio: 9 / 12;
    }
}