
    <div class="head-container">
        <input type="checkbox" name="" id="menu-check">
        <label id="hamburger-menu" for="menu-check">
            <div></div>
        </label>
        <div class="menu">
            <label id="hamburger-menu" for="menu-check">
                <div></div>
            </label>
            <div><a href="#">Home</a></div>
            <div><a href="#">Recap</a></div>
            <div><a href="#">Insert</a></div>
        </div>
        <h1>Equilibrio Virtuale</h1>
    </div>
