
<div class="head-container">
    <input type="checkbox" name="" id="menu-check">
    <label id="hamburger-menu" for="menu-check">
        <div></div>
    </label>
    <div class="menu">
        <label id="hamburger-menu" for="menu-check">
            <div></div>
        </label>
        <div><a href="#" id="home">Home</a></div>
        <div><a href="#" id="recap">Recap</a></div>
        <div><a href="#" id="charts">Grafici e Analisi</a></div>
        <div><a href="#" id="insert">Inserimento</a></div>
    </div>
    <h1>Benvenuto</h1>
    <h2>Trova Equilibrio nella Vita Online</h2>
</div>
